body{width: 1500px;}
.first{
    margin: 50px 50px;

}
#blogname{color: coral;}
.second{font-size: 20px;padding: 10px 50px;float: right;width: 70%;}
.content{margin: 20px 0;width: 70%;}
.clear{clear: both;}